.contenedor-informacion-personal{
	display: flex;
}

.contenedor-informacion-personal-detalle{
	display: grid;
    flex: 1;
	justify-items: flex-start;
    align-items: center;
	width: 50%;
    border: 4px, dashed, gray;
    border-radius: 6px;
    margin: 1rem;
    padding: 1rem;
}

.contenedor-informacion-personal-cuentas{
	width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contenedor-informacion-personal-cuentas-detalle{
	display: block;
    flex: 1;
	justify-items: flex-start;
    align-items: center;
	border: 4px, dashed, gray;
    border-radius: 6px;
    margin: 1rem;
    padding: 1rem;
}

.dato{
	font-weight: 600;
	color: #1b2a49;
	text-align: center;
	text-shadow: 1px 1px 4px rgba(255, 255, 255, 1.4), 2px 2px 6px rgba(30, 60, 90, 0.5), -1px -1px 4px rgba(112, 111, 111, 0.3);
	letter-spacing: 1px;
	margin: 4px;
	padding-left: 2rem;
}

.dato-cuenta{
	font-size: 1rem;
}

.dato-informacion-personal{
		font-size: 1.4rem;
}
