
.contenedor-barra-menu{
	grid-column: span 6 / span 6;
    grid-row-start: 2;
    display: block;
	width: 100%;
	align-content: start;
	align-items:center;
	border-radius: 10px;
  	box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.6), -4px -4px 10px rgba(0, 0, 0, 0.4);
}

/* Lista horizontal con justificación alrededor */
.list-barra-menu {
    list-style: none;       /* quitar viñetas */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;   /* <--- Justifica con espacio igual alrededor */
    align-items: center;
    height: 100%;
}

/* Cada item */
.item-barra-menu {
  	flex: 1;   /* Cada item ocupa el mismo ancho */
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Formularios */
.form-barra-menu {
	flex: 1;
    justify-content: center;
}

/* Botones */
.input-barra-menu {

    text-decoration: none;  
    padding: 8px 16px;
    cursor: pointer;

    font-size: 14px;
    
	font-size: 1rem;
	font-weight: 600;
	color: #1b2a49; /* Azul marino profundo */
	text-align: center;

  	/* Sombras iluminadas en tonos claros */
	border:none;
	border-radius: 6px;
	box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
	
	letter-spacing: 1px;  /* un poco de aire entre letras */
	margin: 4px;
	
	width: 20rem;


}

/* Hover */
.input-barra-menu:hover {
  	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.6);
}