.contenedor-titulo{
	grid-column: span 6 / span 6;
	display: flex;
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	align-content: start;
	align-items:center;
	border-radius: 10px;
  	box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.6), -4px -4px 10px rgba(0, 0, 0, 0.4);
}

.titulo{
  font-size: 34px;
  font-weight: 600;
  color: #1b2a49; /* Azul marino profundo */
  text-align: center;

  /* Sombras iluminadas en tonos claros */
  text-shadow: 
    1px 1px 4px rgba(255, 255, 255, 1.4),   /* toque iluminado */
    2px 2px 6px rgba(30, 60, 90, 0.5),      /* azul océano */
    -1px -1px 4px rgba(112, 111, 111, 0.3); /* gris topo claro */

  letter-spacing: 1px;  /* un poco de aire entre letras */
  margin: 4px;
  padding-left: 2rem;

}

.contenedor-titulo{
	grid-column: span 6 / span 6;
	display: flex;
	width: 100%;
	align-content: start;
	align-items:center;
	border-radius: 10px;
  	box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.6), -4px -4px 10px rgba(0, 0, 0, 0.4);
}