.contenedor-area-trabajo {
    grid-column: span 6 / span 6;
    grid-row: span 6 / span 6;
    grid-row-start: 3;
	padding-top: 1rem;
	padding-bottom: 1rem;
	align-content: start;
	align-items:center;
	border-radius: 10px;
  	box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.6), -4px -4px 10px rgba(0, 0, 0, 0.4);
}

.contenedor-area-trabajo-titulo{
	display: flex;
	flex: 1;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
}

.area-trabajo-titulo{
	font-size: 1rem;
	font-weight: 600;
	color: #1b2a49;
	text-align: center;
	text-shadow: 1px 1px 4px rgba(255, 255, 255, 1.4), 2px 2px 6px rgba(30, 60, 90, 0.5), -1px -1px 4px rgba(112, 111, 111, 0.3);
	letter-spacing: 1px;
	margin: 4px;
	padding-left: 2rem;
}