body {
  /* Ruta de la imagen */
  background-image: url('../img/fondo_index.jpg');

  /* Ajustes opcionales */
  background-size: cover;       /* La imagen cubre todo el body */
  background-repeat: no-repeat; /* Evita que se repita */
  background-position: center;  /* Centra la imagen */
  background-attachment: fixed; /* La imagen se mantiene fija al hacer scroll */
}

.container {
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
  align-content: start;
  height: 100vh;
}

.item:nth-child(1),
.item:nth-child(5) {
  width: 100%;
  height: 10%;
}

.item:nth-child(2),
.item:nth-child(4) {
  width: 10%;
  height: 75%;
}

.item:nth-child(3) {
  flex-grow: 1;
  height: 75%;
  display: flex;            /* Activamos flexbox */
  align-items: center;      /* Centrado vertical */
}

.boton {
  display: inline-block;
  width: 8rem;
  padding: 12px 28px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;       
  color: white;                
  
  /* Fondo oscuro con transparencia */
  background-color: rgba(34, 34, 34, 0.2);
  border-radius: 8px;          
  
  /* Sombra bifurcada inicial */
  box-shadow: 4px 4px 10px rgba(0,0,0,0.6), 
              -4px -4px 10px rgba(0,0,0,0.4);
  
  transition: all 0.3s ease;  
}

/* Efecto hover: ensanchamiento de la sombra */
.boton:hover {
  box-shadow: 8px 8px 20px rgba(0,0,0,0.7), 
              -8px -8px 20px rgba(0,0,0,0.5);
}




